<div id="<%= dom_id artist %>">
  <p>
    <div >
    <h1><strong>Picture:</strong> </h1>
    </div>
    <%= image_tag artist.picture %>
  </p>

  <p>
    <div>
    <h3> <strong>First name:</strong> </h3>
    </div>
    <%= artist.first_name %>
  </p>

  <p>
    <div >
    <h3> <strong>Last name:</strong> </h3>
    </div>
    <%= artist.last_name %>
  </p>

  <p>
    <div s>
    <h3> <strong>Date of birth:</strong> </h3>
    </div>
    <%= artist.date_of_birth %>
  </p>
</div>
