<div id="<%= dom_id artist %>" style="text-align: center; margin: 100px;">
  <p>
    <h1><strong>Picture:</strong> </h1>
    <%= image_tag artist.picture, width: "250", style: "display: block; margin: auto;" %>
  </p>

  <p>
    <h3> <strong>First name:</strong> </h3>
    <%= artist.first_name %>
  </p>

  <p>
    <h3> <strong>Last name:</strong> </h3>
    <%= artist.last_name %>
  </p>

  <p>
    <h3> <strong>Date of birth:</strong> </h3>
    <%= artist.date_of_birth %>
  </p>
</div>
