<div id="<%= dom_id artist %>">
  <p>
    <strong>Picture:</strong>
    <%= artist.picture %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= artist.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= artist.last_name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= artist.date_of_birth %>
  </p>

</div>
