<p style="color: green"><%= notice %></p>

<% content_for :title, "Artists" %>

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Our Artists</li>
  </ol>
</nav>

<div class="container titre_Page_Artist" >
<h1>Our Artists</h1>

</div>


<div id="artists">
  <% @artists.each do |artist| %>
    <%= render artist %>
    <p>
      <%= link_to "Show this artist", artist, class:" bouton_show-artwork btn btn-outline-info d-grid gap-2 col-3 mx-auto"%>
    </p>
  <% end %>
</div>

<%= link_to "New artist", new_artist_path, class:"bouton_new-artwork btn btn-outline-success d-grid gap-2 col-2 mx-auto"%>
