<div class="container-fluid">
  <div id="<%= dom_id artwork %>" class="artwork-container">
    <div class="artwork-title">
      <h2><strong class="text-style-artwork"><%= artwork.title %></strong></h2>
    </div>
    <br>

      <div class="artwork-photo">    
        <%= image_tag artwork.image if artwork.image.present? %>
      </div>

      <div class="artwork-info">
        <div class="artwork-info-column">
          <div class="artwork-centre">
            <h4><strong class="text-style-artwork"><u>Artist:</u></strong></h4> 
            <a href="<%= artist_path(artwork.artist) %>">
              <h5><%= artwork.artist.first_name %> <%= artwork.artist.last_name %></h5>
              </a>
              </div>


          <div class="artwork-centre">
            <h4><strong class="text-style-artwork"><u>Creation Date:</u></strong></h4> <h5><%= artwork.creation_date %></h5>
          </div>

          <div class="artwork-history">
            <h4><strong class="text-style-artwork"><u>History:</u></strong><h4> <h5><i><%= artwork.history %></i><h5>
          </div>
        </div>
      </div>

    </div>
  </div>