<div id="<%= dom_id artwork %>">
  <p>
    <strong>Title:</strong>
    <%= artwork.title %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= artwork.image %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= artwork.artist_id %>
  </p>

  <p>
    <strong>Creation date:</strong>
    <%= artwork.creation_date %>
  </p>

  <p>
    <strong>History:</strong>
    <%= artwork.history %>
  </p>

</div>
